<div class="section-ref">
    <div class="cont-references">
        <h3>{% t faqs.faqs_refs %}</h3>
        <ul>
            <li>Clinical practice handbook for safe abortion. Geneva: World Health Organization; 2014 <a href="https://apps.who.int/iris/bitstream/handle/10665/97415/9789241548717_eng.pdf?sequence=1" target="_blank" rel="noopener"><span class="violet">https://apps.who.int/iris/bitstream/handle/10665/97415/9789241548717_eng.pdf?sequence=1</span></a></li>
            <li>FIGO's updated recommendations for misoprostol used alone in gynecology and obstetrics. FIGO; 2017 <a href="https://obgyn.onlinelibrary.wiley.com/doi/full/10.1002/ijgo.12181" target="_blank" rel="noopener"><span class="violet">https://obgyn.onlinelibrary.wiley.com/doi/full/10.1002/ijgo.12181</span></a></li>
            <li>Medical management of abortion. Geneva: World Health Organization; 2018. License: CC BY-NC-SA 3.0 IGO <a href="https://apps.who.int/iris/bitstream/handle/10665/278968/9789241550406-eng.pdf?ua=1" target="_blank" rel="noopener"><span class="violet">https://apps.who.int/iris/bitstream/handle/10665/278968/9789241550406-eng.pdf?ua=1</span></a></li>
            <li>Royal College of Obstetricians and Gynaecologists. Best practice in comprehensive abortion care. RCOG. 2015. London, Royal College of Obstetricians & Gynaecologists. Best Practice Paper No. 2. <a href="https://www.rcog.org.uk/globalassets/documents/guidelines/best-practicepapers/best-practice-paper-2.pdf" target="_blank" rel="noopener"><span class="violet">https://www.rcog.org.uk/globalassets/documents/guidelines/best-practicepapers/best-practice-paper-2.pdf</span></a></li>
        </ul>
    </div>
</div>