<footer>
    <div class="container">
        <div class="row" >
            <div id="footer-logo" class="col col-lg-3 col-md-3 col-sm-12">
                <a href="{% tl htuhome %}"><img class="white-logo" src="/images/white-logo.png" alt="HTU logo" ></a>

                <div class="icons-section">
                    <a href="https://www.facebook.com/HTUabortionpill/" target="_blank" rel="noopener">
                    <i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/HTUabortionpill/" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                    <a href="https://pinterest.com/howtouseabortionpill/" target="_blank" rel="noopener"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://www.tiktok.com/@htuabortionpill?lang=es" target="_blank" rel="noopener"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.youtube.com/channel/UCABqyCQF7d0aZLE9q0O3KhQ" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/htuabortionpill/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <p><b>HowToUseAbortionPill.org</b> {% t footer.col1p %}</p>
            </div>
            <div class="col col-lg-5 col-md-5 col-sm-12">
                <p><b>HowToUseAbortionPill.org</b> {% t footer.col2p %}</p>
            </div>
        </div>
    </div>
</footer>