<div class="language-selector">
  <div class="dropdown">
    <a class="nav-link dropdown-toggle nav-list" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% t textlanguageswitcher %}</a>
    <div class="dropdown-menu dropdown-content">
      <a href="{{ htuhome }}/am/">አማርኛ</a>
      <a href="{{ htuhome }}/ar/">العربية</a>
      <a href="{{ htuhome }}/bn/">বাংলা</a>
      <a href="{{ htuhome }}/my/">မြန်မာ</a>
      <a href="{{ htuhome }}/zh/">中文</a>
      <a href="/">English</a>
      <a href="{{ htuhome }}/fa/">فارسی</a>
      <a href="{{ htuhome }}/fr/">Français</a>
      <a href="{{ htuhome }}/el/">Ελληνικά</a>
      <a href="{{ htuhome }}/ha/">Hausa</a>
      <a href="{{ htuhome }}/hi/">हिन्दी</a>
      <a href="{{ htuhome }}/id/">Indonesia</a>
      <a href="{{ htuhome }}/km/">ភាសាខ្មែរ</a>
      <a href="{{ htuhome }}/lg/">Luganda</a>
      <a href="{{ htuhome }}/ne/">नेपाली</a>
      <a href="{{ htuhome }}/pi/">Nigerian Pidgin</a>
      <a href="{{ htuhome }}/pt/">Português</a>
      <a href="{{ htuhome }}/ru/">русский</a>
      <a href="{{ htuhome }}/so/">Somali</a>
      <a href="{{ htuhome }}/es/">Spanish</a>
      <a href="{{ htuhome }}/sw/">Kiswahili</a>
      <a href="{{ htuhome }}/tl/">Tagalog</a>
      <a href="{{ htuhome }}/th/">ภาษาไทย</a>
      <a href="{{ htuhome }}/tr/">Türkçe</a>
      <a href="{{ htuhome }}/ur/">اُردُو‬‎</a>
      <a href="{{ htuhome }}/vi/">Tiếng Việt</a>
      <a href="{{ htuhome }}/yo/">Yoruba</a>
    </div>
  </div>
</div>
